<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Type</th>
            <th>Banks</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < payment.length;i++){ %>
        <tr>
            <td><%= i + 1 %></td>
            <td><%= payment[i].type %></td>
            <td>
                <% payment[i].banks.forEach(bank => { %>
                <span class="badge badge-warning">
                    <%= bank.name %> | <%= bank.username %> | <%=
                    bank.accountNumber %>
                </span>
                <% }) %>
            </td>
            <td>
                <% if (payment[i].status === 'Y') { %>
                <span class="badge badge-success"> Active </span>
                <% }else {%>
                <span class="badge badge-danger"> In Active </span>
                <% } %>
            </td>
            <td>
                <form
                    action="/payment/status/<%= payment[i]._id %>?_method=PUT"
                    method="POST"
                    style="display: inline-block"
                >
                    <button class="btn btn-sm btn-primary">
                        <i class="fas fa-folder"></i>
                        <% if (payment[i].status === 'Y') { %> Deactivate <% }
                        else { %> Activate <% } %>
                    </button>
                </form>
                <form
                    action="/payment/delete/<%= payment[i]._id %>?_method=DELETE"
                    method="POST"
                    style="display: inline-block"
                >
                    <a
                        href="/payment/edit/<%= payment[i]._id %>"
                        class="btn btn-sm btn-info"
                    >
                        <i class="fas fa-pencil-alt"></i>
                        Edit
                    </a>
                    <button class="btn btn-sm btn-danger">
                        <i class="fas fa-trash-alt"></i>
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
